backend/.env
backend/eumenides_session.session
backend/crawler_session.session
backend/crawler_session.session-journal
backend/app/__pycache__/__init__.cpython-312.pyc
backend/app/__pycache__/config.cpython-312.pyc
backend/app/__pycache__/db.cpython-312.pyc
backend/app/__pycache__/main.cpython-312.pyc
backend/app/api/__pycache__/__init__.cpython-312.pyc
backend/app/api/__pycache__/controllers.cpython-312.pyc
backend/app/__pycache__/models.cpython-312.pyc
backend/app/api/__pycache__/schemas.cpython-312.pyc
backend/app/application/__pycache__/__init__.cpython-312.pyc
backend/app/application/__pycache__/dtos.cpython-312.pyc
backend/app/application/__pycache__/use_cases.cpython-312.pyc
backend/app/domain/__pycache__/__init__.cpython-312.pyc
backend/app/domain/__pycache__/entities.cpython-312.pyc
backend/app/domain/__pycache__/repositories.cpython-312.pyc
.gitignore
